*{
    margin: 0;
    padding: 0;
    background-color: aqua;
}
.heading{
    display: flex;
    justify-content: center;
}
.formstart{
    display: flex;
    justify-content: center;
    
}
.form-label1{
    display: flex;

    margin-top: 20px;
}
